<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.js @ categories='navbar.site'}" />

<div class="container-fluid">
    <div class="row nav-bar-default" >
       <div class="col-lg-12">
            <button class="ham btn btn-custom float-right d-lg-none"  id="hamburger" onclick="openMenu()">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
            </button>
       </div>
        <div class="col-lg-12">
            <nav class="nav-bar-right w-100">
                <div class=" columns  w-100">
                    <ul class="singtel-top-bar inline-list float-right d-flex right ">
                        <li class="mx-2">
                            <a id="r-13" class="ux-anchor active " href="#" tabindex="0">Personal</a>
                        </li>
                        <li class="mx-2">
                            <a id="r-14" class="ux-anchor inactive " href="#" tabindex="0">Business</a>
                        </li>
                        <li class="mx-2"><a id="r-15" class="ux-anchor inactive " href="#" tabindex="0">About Us
                            </a>
                        </li>
                    </ul>
                  
                </div>
            </nav>
        </div>
        <div class="main_menu container" id="main_menu">
            <div class="row">
                <ul class="col-lg-8 menu_list d-flex">
                    <li class="mx-4 menu_items">
                        <a id="r-13" class="ux-anchor active " href="#" tabindex="0">Products & Services</a>
						<ul class="col-lg-3">
                              <li>test</li>
                               <li>test</li>
                               <li>test</li>
                               <li>test</li>
                        </ul>

                    </li>
                    <li class="mx-4 menu_items">
                        <a id="r-14" class="ux-anchor inactive " href="#" tabindex="0">Account</a>
                    </li>
                    <li class="mx-4 menu_items"><a id="r-15" class="ux-anchor inactive " href="#" tabindex="0">Support</a>
                    </li>
                    <li class="mx-4 menu_items"><a id="r-15" class="ux-anchor inactive " href="#" tabindex="0">Promotions</a>
                    </li>
                </ul>
                <div class="col-lg-4">
					  <div class="d-flex justify-content-center h-100">
                        <div class="search_bar1">
                          <a href="#" class="search_icon"><i class="material-icons">search</i></a>
                            <input class="search_input" type="text" name="" placeholder="Search...">
                        </div>
                      </div>
                </div>
                <div class="change close d-lg-none" onclick="hidemodal(this)" id="close"> 
                    <div class=" bar1"></div>
                    <div class=" bar2"></div>
                    <div class=" bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>